<div class="social-media-links">
    <h3>Links a mis redes sociales</h3>

    <ul>
        <li><a href="https://www.instagram.com/leon.apollonio/">Instagram</a></li>        
        <li><a href="https://www.facebook.com/leo.apollonio.94/">Facebook</a></li>
        <li><a href="https://twitter.com/LeoApollonio">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCRRHA1KE9zf081l3-XYcoSQ">Youtube</a></li>
        <li><a href="https://wa.me/5491149718750">Whatsapp</a></li>
        <li><a href="https://www.linkedin.com/in/leonardo-apollonio">LinkedIn</a></li>
    </ul>
</div>
